
@{
    ViewBag.Title = "afterlogin";
}

<h2>afterlogin</h2>
<form action="/Home/Index1">
<input type="submit" value="train details" />
    </form><br />
<br />
<form action="/Home/reserve">
    
<input type="submit" value="Reservation" /></form>
<br /><br />
<form action="/Home/cancel">
<input type="submit" value="cancel" />
</form>